header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    margin: 0;
    color: #080808;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-list {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    display: flex;
}

.nav-list li a {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
    color: #080808;
    transition: 0.5s;
    font-size: 18px;
    font-weight: 400;
}

.nav-list li a:hover {
    color: var(--primary);
}

.nav-list li button {
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: 0.5s;
}

.nav-list li button:hover {
    color: var(--primary);
}