.form {
    max-width: 360px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form-group {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.form-group_label {
    display: block;
    margin-bottom: 5px;
}

.form-group_input {
    padding: 5px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    height: 35px;
    display: block;
    width: 100%;
}

.form-group_input:focus {
    background-color: #fff;
    border-color: var(--primary);
    outline: 0;
}

.form-group_textarea {
    padding: 5px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    height: 105px;
    resize: none;
    display: block;
    width: 100%;
}

.form-group_textarea:focus {
    background-color: #fff;
    border-color: var(--primary);
    outline: 0;
}

.form-group_select {
    padding: 5px;
    height: 35px;
    display: block;
    width: 100%;
    border: 1px solid var(--secondary);
    border-radius: 5px;
}

.form-group_select:focus {
    background-color: #fff;
    border-color: var(--primary);
    outline: 0;
}

.form-action {
    display:flex;
    justify-content: flex-end;
}

.button-submit {
    color: var(--primary);
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid var(--primary);
    height: 35px;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    transition: .5s;
}

.button-submit:hover {
    color: #fff;
    background-color: var(--primary);
}
